#all-messages {
    padding: 50px 25px;
}

.message {
    display: flex;
    margin-bottom: 20px;
}

.message .image-container {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
}

.message .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.message .message-body {
    margin-left: 12px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.message .message-body .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2d3436;
}

.message .message-body .user-info .time {
    font-size: 12px;
    color: #b2bec3;
    font-weight: normal;
}

.message .message-body p {
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.4;
    word-break: break-word;
}

.send-message {
    background: #3F51B5;
    padding: 10px;
    display: flex;
}

.send-message input {
    width: 100%;
    padding: 7px 5px;
}

.send-message button {
    margin-left: 10px;
}